*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    height: 70px;
    position: relative;
  }
.ful-menu{
    display: flex;
    justify-self: end;
    align-items: center;
    color: white;
}
.ful-menu ul{
    display: inline-flex;
    list-style: none;
    color: white;
}
.ful-menu ul li{
    text-decoration: none;
    margin: 15px;
    padding: 15px;
    
}
.ful-menu ul li a{
    text-decoration: none;
    color: white;
}
.main, .ful-menu ul li:hover
{
    background-color: rgb(11, 187, 11);
    border-radius: 5px;
}
.ful-menu .fa{
    margin: 8px;

}
.menu1{
    display: none;

}
.main, .ful-menu ul li:hover .menu1
{
    display: block;
    position: absolute;
    background-color: green;
    margin-top: 15px;
    margin-left:-15px;
}
.main, .ful-menu ul li:hover .menu1 ul
{
    display: block;
    margin: 10px;

}
.main, .ful-menu ul li:hover .menu1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.ful-menu ul li:hover .menu1 ul li:last-child
{
    border-bottom: none;
}
.ful-menu ul li:hover .menu1 ul li a:hover
{
    color: rgb(11, 187, 11);
}
.fa-angle-right{
    float: right;

}
.menu1-1{
    display: none;
}
.li1:hover .menu1-1{
position: absolute;
display: block;
margin-top: -40px;
margin-left: 140px;
background-color: green;
transition: 0.3ms;
}
nav div ul li a i h4{
    font-size: 15px;
    float: right;
}
@media (max-width:600px){
    nav{
       
        position: relative;
        display: inline-block;
        height: 70px;
        
    }
    .ful-menu ul {
        list-style: none;
        margin: 4px;
        gap: 3px;
        height: 70px;


    }
    .ful-menu ul li{
        text-decoration: initial;
        margin: 15px;
        padding: 0px;
        margin: 2px;
        margin-top:10px;
          
    }
    body nav .ful-menu .fa-house,body nav .ful-menu .fa-address-card,body nav .ful-menu .fa-info,body nav .ful-menu .fa-person,body nav .ful-menu .fa-address-card,body nav .ful-menu .fa-slideshare{
        font-size: 1px;
        
    }
    nav div ul li a i h4{
        font-size: 13px;
        margin: 0;

    }
    .main, .ful-menu ul li:hover .menu1 ul
    {
        display: block;
        position: absolute;
        background-color: green;
       height: 160px;
    }
    .main, .ful-menu ul li:hover .menu1 ul li a
    {
       font-size: 20px;
       
    }
    .li1:hover .menu1-1{
        position: absolute;
        display: block;
        margin-top: -40px;
        margin-left: 120px;
        background-color: green;
        transition: 0.3ms;
        }
       
    }
    






